.container {
	max-width: 40rem;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;

	& > *:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.button {
	text-transform: uppercase;
	color: #fff;
	border: none;
	padding: 1.5rem 3rem;
	border-radius: 5px;
	font-size: 1.6rem;
	cursor: pointer;

	&--facebook {
		background-color: #5450ff;
	}

	&--email {
		background-color: #f00;
	}

	&--whatsapp {
		background-color: rgb(23, 161, 23);
	}
}

.invoice {
	&__preview {
		padding: 1.5rem 2rem;
		font-size: 1.5rem;
		background-color: rgb(230, 227, 227);
		text-transform: uppercase;

		&--row {
			display: flex;
			justify-content: space-between;
		}
	}

	&__delete {
		background-color: #f00;
	}

	&__share {
		background-color: #5450ff;
	}
}

.section {
	&-1 {
		border-bottom: 1px solid rgb(99, 98, 98);
		margin-bottom: 2rem;
	}
}

.lines {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 1rem 0;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mt-5 {
	margin-top: 5rem;
}

.overlay {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .9);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
   position: fixed;

	&__close {
		position: absolute;
		top: 1rem;
      right: 1.5rem;
      cursor: pointer;
      font-size: 2rem;
	}
}

.share {
	&__container {
		background-color: #fff;
		position: relative;
		padding: 1rem 4rem;
		height: 40vh;
		width: 50vw;
		display: flex;
		flex-direction: column;
      justify-content: center;
	}

	&__text {
		margin-bottom: 3rem;
		font-size: 2rem;
	}

	&__buttons {
		display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
	}
}
