.body {
    background-color: #6a868d;
    height: 100vh;
    width: 100%;
  }

  
.send-form {
    background-color: white;
    width: 100%;
}

.preview {
    background-color: green;
    color: white;
  }
  
  .send {
    background-color: red;
    color: white;
  }