*{
    box-sizing: border-box;
}
#home{
    background-color:#817f7f;
}
/* header{
    background:rgba(255,255,255,0.6);
    width: 100%;
    height: 10vh;
    left:0;
    top:0;
}
#logo{
    width: 70%;
    height: 70%;
    margin-left: -25%;
} */

.invoice {
    position: absolute;
    left: 6.6%;
    right: 48.61%;
    top: 36.52%;
    bottom: 46.29%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 176px;
    color: #fd7e14;
}
#create{
    color: white;
    text-decoration: none;
}
#main{
    margin-top: 15vh;
}
#left{
    float: left;
    width: 50%;
}
#right{
    float: right;
    width: 50%;
}
#right-img{
    width: 70vh;
    height: 70vh;
}

#font{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}